{% load static %}
<!DOCTYPE html>
<html>
    <style>
        body  {
          background-color: rgb(33, 156, 212);          
        }
        </style>
    <link rel="stylesheet" href="{% static 'downloader\downloader.css' %}">
<body>
  <h1 style=" font-size: 70px; color: white; font-family: Arial, Helvetica, sans-serif;margin-left: 33rem;">UDownload<h1>
    <h3 style="color:rgb(255, 136, 0) ;font-family: cursive;margin-left: 28rem;margin-top: -3rem;">One stop to download vedios from all social media platforms...<h3>
    <div className="search-box" id="search-box">
        <form action="" method="post">
            {% csrf_token %}
        <input 
          type="text"
          className="search-bar"
          name="link"
          id="search-bar"
          placeholder="Search..."
        />
        <input style="background-color: rgb(83, 83, 83);
        width: 10rem;
        height: 3.5rem;
        border-radius: 0.3rem;
        border-color: white;
        border-width: 2px;
        color: white;
        opacity: 0.8;
        box-shadow: 5px;
        margin-top: 5rem;margin-left: 40rem;" type="submit" id="download" value="GET INFO">
        </form>
      </div>
</body>
</html>

